{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
{% endblock  %}

{% block title %}Post Details{% endblock  %}


{% block content %}
  {% include 'blog/includes/preloader.html' %}

  {% include 'blog/includes/header.html' %}

  <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>Title</h4>
                <h2>{{ post_dtl.title}}</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
    <!-- Banner Ends Here -->
    
    <section class="blog-posts grid-system">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
                <div class="col-lg-12">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="{{ post_dtl.image.url }}" alt="{{ posts_dtl.image.name }}">
                    </div>
                    <div class="down-content">
                      <span>{{post_dtl.category}}</span>
                      <a href="#"><h4>{{post_dtl.title}}</h4></a>
                      <ul class="post-info">
                        <li><a href="#">{{post_dtl.author}}</a></li>
                        <li><a href="#">{{post_dtl.date|date:"M d, Y"}}</a></li>
                        <li><a href="#">{{num_cmts}} comments</a></li>
                      </ul>
                      <p>{{post_dtl.content|linebreaksbr}}</p>
                      <div class="post-options">
                        <div class="row">
                          <div class="col-6">
                            <ul class="post-tags">
                              <li><i class="fa fa-tags"></i></li>
                              {% for tag in post_tgs %}
                              <li><a href="{% url 'tag_posts' tag %}">{{tag}}</a></li>
                              {% endfor %}
                            </ul>
                          </div>
                          <div class="col-6">
                            <ul class="post-share">
                              <li><i class="fa fa-share-alt"></i></li>
                              <li><a href="#">Facebook</a>,</li>
                              <li><a href="#"> Twitter</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item comments">
                    <div class="sidebar-heading">
                      <h2>{{ num_cmts }} comments</h2>
                    </div>
                    <div class="content">
                      <ul>
                        {% for comment in post_cmts %}
                          <li>
                            <div class="author-thumb">
                              <img src="{{ comment.user_pic.url }}" alt="{{ comment.user_pic.name }}">
                            </div>
                            <div class="right-content">
                              <h4>{{ comment.name }}<span>{{ comment.date|date:"M d, Y" }}</span></h4>
                              <p>{{ comment.comment }}</p>
                            </div>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item submit-comment">
                    <div class="sidebar-heading">
                      <h2>Your comment</h2>
                    </div>
                    <div class="content">
                      {% if user.is_authenticated %}
                      <form id="comment" action="{% url 'post_detail' post_dtl.slug %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                          <div class="col-md-6 col-sm-12">
                            <fieldset>
                              <input name="name" type="hidden" value="{{ user.username }}">
                            </fieldset>
                          </div>
                          <div class="col-lg-12">
                            <fieldset>
                              <textarea name="comment" rows="6" id="message" placeholder="Type your comment" required="" spellcheck="true"></textarea>
                            </fieldset>
                          </div>
                          <div class="col-lg-12">
                            <fieldset>
                              <button type="submit" id="form-submit" class="main-button">Submit</button>
                            </fieldset>
                          </div>
                        </div>
                      </form>
                      {% else %}
                      <p class="comment-login">Want to leave a comment? Kindly <a href="{% url 'login' %}">login</a></p>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
                <div class="col-lg-12">
                  <div class="sidebar-item search">
                    <form id="search_form" name="gs" method="POST" action="/blog/results/">
                      {% csrf_token %}
                      <input type="text" name="search" class="searchText" placeholder="type to search...">
                    </form>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                      <h2>Recent Posts</h2>
                    </div>
                    <div class="content">
                      <ul>
                        {% for post in rec_posts %}
                        <li><a href="{% url 'post_detail' post.slug %}">
                          <h5>{{post.exrt}}</h5>
                          <span>{{ post.date|date:"M d, Y" }}</span>
                        </a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item categories">
                    <div class="sidebar-heading">
                      <h2>Categories</h2>
                    </div>
                    <div class="content">
                      <ul>
                        {% for category in categories %}
                          <li><a href="{% url 'category_posts' category %}">-{{category}}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item tags">
                    <div class="sidebar-heading">
                      <h2>Tag Clouds</h2>
                    </div>
                    <div class="content">
                      <ul>
                        {% for tag in tags %}
                          <li><a href="{% url 'tag_posts' tag %}">{{tag}}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include 'blog/includes/footer.html' %}
{% endblock  %}